.vscode/
.vs/

/[Bb]uild/
[Pp]ackages/

*.generated.*

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.csproj
*.user

# Ninja
*.ninja

# Makefiles
Makefile
*.make

# Generated Source Files
*.generated.*