[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/Mandelbrottt/glfw
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/Mandelbrottt/imgui
	branch = docking
[submodule "Engine/vendor/stb"]
	path = Engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Engine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/vendor/gainput"]
	path = Engine/vendor/gainput
	url = https://github.com/Mandelbrottt/gainput
[submodule "Engine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Engine/vendor/nlohmann"]
	path = Engine/vendor/nlohmann
	url = https://github.com/Mandelbrottt/json.git
[submodule "Engine/vendor/bullet3"]
	path = Engine/vendor/bullet3
	url = https://github.com/Mandelbrottt/bullet3.git
