# Meta
.vscode/
.vs/

# Output Directories
/[Bb]uild/
[Oo]ut/

# Packages
[Pp]ackages/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.csproj
*.user

# Ninja
*.ninja

# Makefiles
Makefile
*.make

# Generated Source Files
*.generated.*