name: Build Win64 MSVC v143

on:
  push:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build-win64-clang:
    uses: ./.github/workflows/build-win64-action.yml
    with:
      toolset: msc-v143